div {
    background-color: red;
    width: 100px;
    height: 100px;
    padding: 40px;
    border: solid black;
    margin: 40px;
}

/* 

Content = Texto, imagen
Padding = Espacio interior de mi caja
Border = Contorno que rodea la caja
Margin = Espacio que le doy fuera de la caja

 */